@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap');

body {
    background-color: rgba(255, 255, 255, 0.618);
}
.navbar {
    background-color: #386575bd;
    display: flex;
    justify-content: center;
  }
  
  .content-nav {
    display: flex;
    align-items:inherit;
  }

  .content-nav p img {
    width: 50px;
    height: 50px ;
  }
  .content-nav p {
    color:rgb(255, 255, 255);
    margin-left:50px;
    margin-right: 20px;
    font-size: large;
    font-style:oblique;
  }
  .content-nav p :hover{
    color:rgb(140, 219, 246);
    
  }
  .content-nav p a {
    text-decoration: none;
  }
  .content-nav .jwd {
    margin-left: 300px;
  }
  .content-nav .social {
    margin-left: 200px;
  }
  ul.soial-icons {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  ul.soial-icons li {
    margin-right: 40px;
  }
  
  ul.soial-icons li a {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 21%;
    padding-top:17%;
    border-radius: 30%;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }
  ul.soial-icons li a :hover {
    color:rgb(140, 219, 246);
  }


.content .rel-post {
  width: 25%;
}

.content .artikel {
  width: 70%;
  padding-left: 5%;
}
.content .artikel .soal2 {
  width: 350px;
  border: 3px solid black;
  padding: 5px;
}
.content .artikel .soal3 .a{
  font-family: 'Arimo', sans-serif;
}
.content .artikel .soal3 .b {
  font-family: 'Open Sans', sans-serif;
}
.content .artikel .soal3 .c {
  font-family: 'Roboto', sans-serif;
}
.content .artikel .soal4 .a {
  color: red;
}
.content .artikel .soal4 .b {
  color: green;
}
.content .artikel .soal4 .c {
  color: blue;
}