/*

MaulMshr


*/

@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body {
    font-family: 'Lato', sans-serif;
}

#page-wrape {
    background: url(../images/page-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

#page-wraper {
    background: -moz-linear-gradient(45deg, #136053 0%, #104653 29%, #38354b 66%, #2e4b57 100%);
    background: -webkit-linear-gradient(45deg, #151717 0%,#0ea753 29%,#3e353f 66%,#09c8b2 100%);
    background: linear-gradient(45deg, #0b1a30 0%,#181c1d 29%,#384062 66%,#000000 100%);
    width: 100%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	/*min-height: calc(100vh - 2rem);*/
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	overflow: hidden;
	position: relative; 
}

.author-content {
    padding-bottom: 0;
}

body::before, 
body::after {
	content: "";
	width: 70vmax;
	height: 70vmax;
	position: fixed;
	background: rgba(72, 190, 222, 0.122);
	left: -20vmin;
	top: -20vmin;
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	z-index: 1;
	will-change: border-radius, transform;
	transform-origin: 55% 55%;
	pointer-events: none; 
}
	
body::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%; 
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
}

@keyframes spin {
  to {
    transform: rotate(1turn); 
  } 
}
	.st0{display:none;}
	.st1{display:inline;}
	.st2{opacity:0.29;}
	.st3{fill:#FFFFFF;}
	.st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
	.st5{clip-path:url(#SVGID_4_);}
	.st6{clip-path:url(#SVGID_6_);}
	.st7{clip-path:url(#SVGID_8_);}
	.st8{clip-path:url(#SVGID_10_);}
	.st9{fill:none;}
	.st10{clip-path:url(#SVGID_12_);}
	.st11{opacity:0.7;}
	.st12{clip-path:url(#SVGID_14_);}
	.st13{opacity:0.2;}
	.st14{clip-path:url(#SVGID_16_);}
	.st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}

/* Basic */

body {
    overflow-x: hidden;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    position: static;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 2px solid #fff;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    width: 80%;
    transition: all 1s;
    border-radius: 50px;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: rgba(0, 0, 0, 0.26);
    color: #09ffad;
    padding-left: 50px;
}
.social-network{
    margin: 0;
    font-size: 14px;
    color: #fff;
}

/* Sidebar Menu */

.menu {
    margin-left: auto;
}
.menu .image {
    margin-top: 10px;
}

.menu .image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
}

.menu .author-content {
    margin: 10px 0px 20px 0px;
}

.menu .author-content h2 {
    color: whitesmoke;
    margin-bottom: 0;
}

.menu .author-content span {
    font-size: 13px;
    font-style: italic;
    color: #fff;
}

.menu .social-network {
    margin-top: 20px;
    margin-right: 20px;
}

.menu .social-network ul li {
    margin: 0 2px;
}

.menu .social-network ul li a {
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
}
.main-nav {
    text-align: left;
    margin-left: 40px;
}
.main-nav ul li a:hover {
    background-color: #fff;
    color: #a43f49;
    padding-left: 50px;
}

.menu .copyright-text {
    position: relative;
    margin-top: 30px;
}

.menu .copyright-text p {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 13px;
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
    left: 0;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
  -webkit-transition:none ;
  -webkit-transform: 233ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-overflow-scrolling: touch;
  background-color: #232525e1;
  box-sizing: border-box;
  height: 100vh;  
  max-height: 100vh !important;
  max-width: 80vw !important;
  min-width: 45px !important;
  outline: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0;
  left: 0;
  position: fixed !important;
  top: calc(0px);  
  width: 20%;
  will-change: transform;
  z-index: 9999 !important;
}

.menu-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  right: 5px;
  top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    color: #ff0019;
    background-color: rgba(0, 0, 0, 0.434);
    border-radius: 10px;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.menu-close {
  cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: #ff0019;
    background-color: rgb(31, 30, 30);
    width: 100%;
    height: 60px;
    top: 10px;
    left: 10px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}


/* Section */

.section {
    color: #fff;
    width: 70%;
    right: 5%;
    left: 25%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.section-heading {
    text-align: center;
    padding: 60px 60px;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #ff0019;
    margin: 10px auto;
}

.section-heading span {
    margin-top: 5px;
    font-size: 25px;
    font-style: bold;
    color: #fff;
    letter-spacing: 0.5px;
}
.right-text {
    width: 350px;
    min-width: 250px;
}


/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color: #a43f49;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #a43f49;
    color: #fff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #a43f49;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: #a43f49;
    color: #fff;
}


/* Left & Right Post */

.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}

.left-image img{
    width: 300px;
}
.right-image img {
    width: 300px;
    border-radius: 5px;
}

.right-image-post h4,
.left-image-post h4 {
    margin-top: 30px;
}

.right-image-post p,
.left-image-post p {
    margin-top: 20px;
}

.right-image-post .white-button,
.left-image-post .white-button {
    margin-top: 30px;
}

/*education*/

.education {
    min-height: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
}
.education:hover {
    background-color: rgba(250, 250, 250, 1);
}

.education .service-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
.education:hover .education-icon {
    background-image: url(../images/Education-logo.png);
}

.education .education-icon {
    background-image: url(../images/Education-white-logo.png);
}

.education:hover h5 {
    color: #1e1e1e;
}
.education:hover h6 {
    color: #1e1e1e;
}
/* Services */

.my-services .col-md-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.service-item {
    height: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
}

.service-item h4 {
    transition: all 0.5s;
}

.service-item p {
    transition: all 0.5s;
}

.service-item:hover {
    background-color: rgba(250, 250, 250, 1);
}

.service-item:hover h4 {
    color: #1e1e1e;
}

.service-item:hover p {
    color: #4a4a4a;
}

.service-item .service-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.my-sertif .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}
.sertifikat {
    display: flex;
    width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
    border-radius: 10px;
}
.sertifikat:hover {
    background-color: rgb(53, 53, 53);
}
.sertifikat img {
    border-radius: 10px;
}
/* My Work */

section.my-work .section-heading {
    text-align: center;
    font-size: xx-large;
    padding: 80px 45px 50px 45px;
}

section.my-work .section-heading .line-dec {
    font-size: 100px;
}
.bjwd {
    border-radius: 20px;
    background-color: black !important;
}
.bjwd :hover {
    background-color: #09c8b2!important;
}

/* Contact Me */

section.contact-me {
    border-bottom: none;
}

#contact input {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact input:focus {
    outline: none;
    box-shadow: none;
}

#contact textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact textarea:focus {
    outline: none;
    box-shadow: none;
}

#contact {
    text-align: center;
}


footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(41, 52, 65);
  color: white;
}
footer p {
  font-size: 10px;
}
footer br {
  height: 0;
}

@media screen and (max-width: 1680px) {
    .menu {
        left: 0;
    }

    .section {
        color: #fff;
        width: 70%;
        right: 5%;
        left: 25%;
    }
}

@media screen and (max-width: 1680px) and (min-width: 846px) { 
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .menu .social-network ul li {
        margin: 0;
    }

    .menu .image {
        margin-top: 80px;
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0;
    }

    .right-image-post h4,
    .left-image-post h4 {
        margin-top: 0px;
    }

    .right-image-post p,
    .left-image-post p {
        margin-top: 15px;
    }

    .right-image-post .white-button,
    .left-image-post .white-button {
        margin-top: 25px;
    }

}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

#menu-toggle,
#menu-close {
    display: none;
}  

@media screen and (max-width: 845px) {        
    #menu-toggle,
    #menu-close {
        display: inline-block;
    }    

    .menu {        
        width: 320px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }

    .menu .image {
        margin-top: 40px;        
    }

    .menu .image img {
        width: 120px;
        height: 120px;
    }

    .menu .author-content {
        margin: 20px 0px 40px 0px;
    }

    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }

    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }
    .isotope-item {
        width: 94%;
        margin: 3%;
    }
    .left-image-post img {
        margin-bottom: 30px;
    }
    .right-image-post img {
        margin-top: 30px;
    }
    .isotope-item {
        border-bottom: none;
        text-align: center;
    }
    .isotope-toolbar {
        margin-bottom: 20px;
    }
}





